:host {
  form {
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-dialog-title {
    text-align: center;
  }

  .mat-mdc-dialog-actions {
    justify-content: center;
    gap: 1rem;
  }
}
