:host {
  .controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    button[mat-raised-button] {
      min-width: 150px;
      height: 56px;
    }

    mat-form-field {
     flex: 1 1 auto;
    }
  }
}

::ng-deep .mat-mdc-dialog-surface {
  padding: 20px;
  min-height: fit-content;
}
